<div class="center jumbotron">

<h1>Source list</h1>

<p>1. https://www.ruby-lang.org/en/about/  "Ruby. A Programmer's Best Friend. About Ruby"
2. http://patshaughnessy.net/2012/12/17/ruby-smalltalk-and-class-variables  Ruby, Smalltalk and Class Variables, Pat Shaughnessy 
3. Chris Pine, "Learn to Program, Second Edition", 2009
4. Hal Fulton, "THE RUBY WAY, third edition", 2015
5. Dave Thomas with Chad Fowler, Andy Hunt "Pragmatic Programming Ruby 1.9 and 2.0. 4th Edition" , 2013
6. Sandi Metz, "Practical Object-Oriented Design in Ruby: An Agile Primer" , 2013
7. Jay McGavren, "Head First Ruby" O'Reilly, 2015 in translation "Head First Изучаем Руби", "Питер ", 2016
8. https://launchschool.com/books/oo_ruby 'Object Oriented Programming with Ruby' by Launch School
9. https://wikipedia.org/wiki/List_of_object-oriented_programming_languages
10. http://ruby-for-beginners.rubymonstas.org/object_oriented_programming.html
11. David A. Black "The Well-Grounded Rubyist. Second Edition", Manning Publications Co, 2014
12. https://en.wikipedia.org/wiki/Comparison_of_programming_paradigms
13. https://en.wikipedia.org/wiki/Functional_programming</p>